/* detail pengguna */
.detail-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 550px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    overflow: hidden;
}

td{
    padding: 7px 20px 0 0;
    font-size: 15px;
}