*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
}
.navbar{
    width: 100%;
    height: 100px;
    background: radial-gradient(100% 8419.2% at 11.63% 34.67%, #9FEAD7 0%, #CEF8ED 100%);
    box-shadow: 0px -4px 30px 3px rgba(56, 56, 56, 0.25);
}
.navbar img{
    position: absolute;
    width: 104px;
    height: 38px;
    left: 70px;
    top: 30px;
}

.content{
    width: 100%;
    padding: 20px;
    transition: 0.7s;
}
.sidebar{
    width: 240px;
    height: 874px;
    position: fixed;
    top: 100px;
    background: #DBFFF6;
    padding: 15px 25px;
    left: -100%;
    transition: 0.7s;

}
.sidebar ul{
    list-style: none;
}
.sidebar ul li{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-bottom: 2px solid #DBFFF6 ;
}
.sidebar ul li a{
    display: block;
    text-decoration: none;
    color: #6D7F7B;
    font-size: 20px;
    padding: 15px 25px;
    transition: 0.4s ;

}
a i{
    margin-right: 15px;
}
.sidebar ul li a:hover{
    border-left: 10px solid #6D7F7B  ;
}
.show-btn, .hide-btn{
    font-size: 40px;
    color: #6D7F7B;
    position: fixed;
    top: 24px;
    left: 245px;

}
.hide-btn{
    opacity: 0;
}
#chk:checked ~ .sidebar{
    left: 0;
}
#chk:checked ~ .show-btn{
    opacity: 0;
}
#chk:checked ~ .hide-btn{
    opacity: 1;
}
#chk:checked ~ .content{
    width: 80%;
}

.admin-btn {
    background: #6cffdc;
    border-radius: 9px;
    border: none;
    width: 150px;
    height: 25px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}

#username {
    padding-left: 50px;
}

#jasa {
    padding-left: 40px;
}

#status {
    padding-left: 50px;
}

#berhasil {
    margin-left: 30px;
}

#ditolak {
    left: 150px;
}

#e-username {
    font-size: 25px;
}

#e-TTL {
    font-size: 25px;
}

#e-email {
    font-size: 25px;
}

#e-address {
    font-size: 25px;
}

#e-bahasa {
    font-size: 25px;
}

#e-email2 {
    font-size: 25px;
}

#e-number {
    font-size: 25px;
}

#e-verifikasi {
    font-size: 25px;
}

#e-username label {
    padding-right: 250px;
}

#e-TTL label {
    padding-right: 212px;
}

#e-email label {
    padding-right: 293px;
}

#e-address label {
    padding-right: 272px;
}

#e-bahasa label {
    padding-right: 287px;
}

#e-email2 label {
    padding-right: 203px;
}

#e-number label {
    padding-right: 238px;
}

#e-verifikasi label {
    padding-right: 160px;
}

input {
    padding-right: 300px;
}

.scroll {
    display: block;
    overflow: auto;
    height: 540px;
}
