.body {
  position: relative;
  width: 1440px;
  height: 1024px;
  background-color: #dbfff6;
  font-family: 'Poppins', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.container {
  width: 1440px;
  margin: 0 auto;
}

.nav-brand {
  position: absolute;
  width: 104px;
  height: 38px;
  left: 80px;
  top: 56px;
}
.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 96px;
  letter-spacing: 0.05em;
  color: #000000;

  position: absolute;
  width: 515px;
  height: 96px;
  left: 80px;
  top: 270px;
}
input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 10px;

  width: 152px;
  height: 45px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;

  /* identical to box height */
  letter-spacing: 0.05em;

  color: #8d8d8d;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
#username {
  position: absolute;
  width: 515px;
  height: 75px;
  left: 80px;
  top: 386px;
}
#password {
  position: absolute;
  width: 515px;
  height: 75px;
  left: 80px;
  top: 491px;
}

#first-name {
  position: absolute;
  width: 515px;
  height: 75px;
  left: 80px;
  top: 386px;
}
#last-name {
  position: absolute;
  width: 515px;
  height: 75px;
  left: 80px;
  top: 491px;
}
#email {
  position: absolute;
  width: 515px;
  height: 75px;
  left: 80px;
  top: 596px;
}
#password-2 {
  position: absolute;
  width: 515px;
  height: 75px;
  left: 80px;
  top: 701px;
}
#username-2 {
  position: absolute;
  width: 515px;
  height: 75px;
  left: 80px;
  top: 434px;
}
#email-2 {
  position: absolute;
  width: 515px;
  height: 75px;
  left: 80px;
  top: 539px;
}
#new-pass {
  position: absolute;
  width: 515px;
  height: 75px;
  left: 80px;
  top: 434px;
}
#confirm-pass {
  position: absolute;
  width: 515px;
  height: 75px;
  left: 80px;
  top: 535px;
}
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  background: linear-gradient(88.82deg, #7b61ff -3.05%, #5b98d1 108.06%);
  border-radius: 10px;

  width: 227px;
  height: 36px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  /* identical to box height */
  letter-spacing: 0.05em;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
#login-btn {
  position: absolute;
  width: 515px;
  height: 75px;
  left: 80px;
  top: 596px;
}
#signin-btn {
  position: absolute;
  width: 515px;
  height: 75px;
  left: 80px;
  top: 806px;
}
#forgot-pass-btn {
  position: absolute;
  width: 515px;
  height: 74px;
  left: 80px;
  top: 644px;
  border: none;
}
.text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
}
.text #dont-have-account {
  position: absolute;
  width: 267px;
  height: 26px;
  left: 243px;
  top: 691px;
}
.text #forgot-pass {
  position: absolute;
  width: 164px;
  height: 26px;
  left: 293px;
  top: 717px;
}
.text #note {
  position: absolute;
  width: 515px;
  height: 46px;
  left: 80px;
  top: 369px;
}
.text #note-2 {
  position: absolute;
  width: 515px;
  height: 26px;
  left: 80px;
  top: 509px;

  color: #545454;
}
.text #note-3 {
  position: absolute;
  width: 515px;
  height: 26px;
  left: 80px;
  top: 609px;
  color: #545454;
}
.text #dont-have-account-2 {
  position: absolute;
  width: 267px;
  height: 26px;
  left: 243px;
  top: 739px;
}
.column-illustration-hero {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 1664px;
  height: 1024px;
  left: 608px;
  top: 0px;
}
